@import '../styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  font-size: $base-font-size;
  font-weight: 400;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body ::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 15px;
}

body ::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: $secondary-color;
}

body ::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  border: 1px solid $secondary-text-color;
  border-radius: 20px;
}
