$primary-color: #202124;
$secondary-color: #27272a;

$primary-text-color: #ffffff;
$secondary-text-color: #a1a1aa;
$input-text-color: #71717a;

$border: 1px solid #414144;

$small-font-size: 12px;
$base-font-size: 14px;
